<div id="<%= dom_id todoitem %>">
  <p>
    <strong>Todolist:</strong>
    <%= todoitem.todolist_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= todoitem.name %>
  </p>

  <p>
    <strong>Recurring:</strong>
    <%= todoitem.recurring %>
  </p>

</div>
